.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
  }
  
  .image-container {
    max-width: 282px;
    max-height: 360px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen manteniendo la proporción */
  }

  .text-map{
    height: 65px;
    text-align: center; 
    color:var(--color-zeta-rojo);
    font-family: monospace;
  }