body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .z-header {
    background-color: #0f111e;
    color: var(--color-zeta-rojo);
    padding: 1px;
    text-align: center;
  }
  
  .z-header h1 {
    margin: 0;
    font-size: 21px;
  }
