.caja-con-scroll {
  margin: auto;
  max-height: calc(84vh - 260px);
  max-width: 1500px;
  color: var(--color-texto);
  padding: 8px;
  width: 100%;
  font-size: 21px;
  overflow-y: auto;
  box-sizing: border-box;
  border: 0.5px solid var(--color-zeta-rojo);
  }

  .oculto{
    display: none;
 
  }
  
.caja-con-scroll::-webkit-scrollbar {
    display: block;
    width: 6px;
}
.caja-con-scroll::-webkit-scrollbar-track {
    background: transparent;
}
    
.caja-con-scroll::-webkit-scrollbar-thumb {
    background-color:#1320ad;
    border-radius: 4px;
}

.caja-con-scroll::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 75px; 
}

.caja-con-scroll::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 75px;
}