.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  @media only screen and (max-width: 767px){
  .button-container {
    max-height: 35vh;
    overflow-y: auto;
  }

  .button-container::-webkit-scrollbar {
    display: block;
    width: 6px;
}
.button-container::-webkit-scrollbar-track {
    background: transparent;
}
    
.button-container::-webkit-scrollbar-thumb {
    background-color:#1320ad;
    border-radius: 4px;
}

.button-container::-webkit-scrollbar-track-piece:end {
   
    margin-bottom: 75px; 
}

.button-container::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 75px;
}
  }
.botonera{
    cursor: pointer;
    text-align: left;
    display:block;
    width: 40%;
    margin-left:auto;
    margin-right: auto;
    margin-top:2%;
    margin-bottom: 2%;
    padding:5px;
    background-color: #8B271F;
    overflow: overlay;
}

@media only screen and (max-width: 767px) {
  .botonera {
    width: 80%; 
}
}
  


