.disable{
    color: grey !important;
    background-color: black !important;
    cursor:not-allowed !important;
}

.rest-button {
    border: 1px solid #a0a0a0;
    background-color: #e0e0ff; 
    padding: 8px 12px;
    border-radius: 4px; 
    color: #025538; 
    cursor: pointer;
  }
  
  .rest-button:hover {
    background-color: #ccd9ff; /* Cambio de color de fondo al pasar el ratón */
  }


  .flex-container {
    display: flex;
    justify-content: space-between;
  }
  
  .icon-aqua {
    color: aqua;
  }
  
  .icon-red {
    color: red;
  }
  
  .icon-gray {
    color: gray !important;
  }
  .icon-green{
    color: #025538; 
  }
  .rest-button {
    border: none;
    background: none;
    cursor: pointer;
  }

  @media only screen and (min-width: 767px){
  .energy{
margin-left: 244px;
  }

  .health{
margin-right: 260px;
  }
}