<p class="flex-container">
    <span class="energy">Energía: <mat-icon class="icon-aqua">flash_on</mat-icon> {{energy}}</span>
    <button (click)="rest()" matTooltip="Solo puedes descansar una vez por piso" [matTooltipDisabled]="!disabled" matTooltipClass="rest" class="rest-button" [ngClass]="{'disable': (disabled) }">
        <mat-icon class="icon-green" [ngClass]="{'icon-gray': (disabled) }" >hotel</mat-icon> Descansar
      </button>
    <span class="health">Vida: <mat-icon class="icon-red">favorite</mat-icon> {{health}}</span>
  </p>